$backgroundBaseUrl: url(ui-asset("/backgrounds/paper.jpg"));
$backgroundAltUrl: url(ui-asset("/backgrounds/big_bar_bg.jpg"));
$backgroundAlt2Url: url(ui-asset("/backgrounds/paper-light.jpg"));
$backgroundAlt3Url: url(ui-asset("/backgrounds/ui_panel_paper_inset_bg.png"));

@mixin theme-button() {
  @include border-background(26);
  background-image: url(ui-asset("/buttons/button.png"));
  border-image-source: url(ui-asset("/buttons/button.png"));
}

@mixin theme-button-pressed() {
  position: relative;
  top: 0.1rem;
  @include filter(brightness(0.9) saturate(1.6));
}

@mixin theme-border() {
  border-image: url(ui-asset("/borders/ui_bar_square.jpg")) 8;
}

@mixin theme-border-alt() {
  border-image: url(ui-asset("/borders/metal-paper.png")) 28;
}

@mixin theme-border-alt-2() {
  border-image: url(ui-asset("/borders/ui_bar_square.jpg")) 8;
}

@mixin theme-border-alt-3() {
  border-image: url(ui-asset("/borders/ui_panel_paper_inset_alt.png")) 18;
}

@mixin theme-background() {
  color: #1d0c00;
  background-image: $backgroundBaseUrl;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-alt() {
  color: #b7a891;
  background-image: $backgroundAltUrl;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-important() {
  color: khaki;
  background-image: none;
  background-color: darkred;
  background-position: center center;
}

@mixin theme-background-danger() {
  color: khaki;
  border-radius: 0;
  background-image: radial-gradient(circle, goldenrod, #560000);
  background-position: center center;
}

@mixin theme-background-alt-2() {
  background-image: $backgroundAlt2Url;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-alt-3() {
  background-image: $backgroundAlt3Url;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-modal-close() {
  background: url(ui-asset("/misc/ui_misc_button_close2.png"));
  background-size: 100% 100%;
}

@mixin theme-modal-close-pressed() {
  background-image: url(ui-asset("/misc/ui_misc_button_close2_pressed.png"));
}

@mixin theme-header-border() {
  border-image: url(ui-asset("/backgrounds/ui_banner_wood.png")) 22;
  z-index: -1;
}
@mixin theme-header-background() {
  background: url(ui-asset("/backgrounds/header-bg.jpg"));
  background-size: 100% 100%;
  margin: -1px;
  @include text-outline();
  padding: 0 0.25rem;
}

@mixin theme-header-border-alt() {
  border-image: url(ui-asset("/backgrounds/dark-frame.png")) 8;
  //border-image: url(ui-asset("/backgrounds/plank_15.png")) 46;
  z-index: -1;
}
@mixin theme-header-background-alt() {
  background: url(ui-asset("/backgrounds/dark-frame-bg.png"));
  //background: url(ui-asset("/backgrounds/plank_15_bg.jpg"));
  background-size: 100% 100%;
  margin: -1px;
}

@mixin theme-header-border-alt2() {
  border-image: url(ui-asset("/backgrounds/strip_bg02.png")) 24;
  z-index: -1;
  border-width: 0.6rem;
}
@mixin theme-header-background-alt2() {
  background: url(ui-asset("/backgrounds/strip_bg02_bg.png"));
  background-size: 100% 100%;
  margin: -1px;
  text-align: center;
}


@mixin theme-slider-rail($rail-height) {
  //border-image: url(ui-asset("/misc/knob_rail-m.png")) 16;
  background-image: url(ui-asset("/misc/knob_rail-m.png"));
  background-size: 100% 100%;
  background-clip: content-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0 $rail-height / 2;
  cursor: pointer;

  &::before , &::after {
    content: '';
    position: absolute;
    top: 0;
    height: $rail-height;
    width: $rail-height * 0.625;
    background-size: 100% 100%;
  }

  &::before {
    left: calc(#{-$rail-height / 2} + 1px);
    background-image: url(ui-asset("/misc/knob_rail_l.png"));
  }

  &::after {
    right: calc(#{-$rail-height / 2} + 1px);
    background-image: url(ui-asset("/misc/knob_rail_r.png"));
  }
}

@mixin theme-slider-knob() {
  background-image: url(ui-asset("/misc/knob.png"));
  background-size: 100% 100%;
  cursor: pointer;
  @include filter(drop-shadow(0.1rem 0.1rem 0.1rem black));
}

@mixin theme-progress-bar-fill() {
  box-sizing: border-box;
  border-style: solid;

  &.blue {
    background: #2fa0e0;
    border-image: url(ui-asset("/progress-bar/blue.png")) 12;
  }
  &.darkBlue {
    background-color: #056da9;
    border-image: url(ui-asset("/progress-bar/dark-blue.png")) 12;
  }
  &.red {
    background: #d84823;
    border-image: url(ui-asset("/progress-bar/red.png")) 12;
  }
  &.cyan {
    background: #3bdfdc;
    border-image: url(ui-asset("/progress-bar/cyan.png")) 12;
  }
  &.yellow {
    background: #f8f40d;
    border-image: url(ui-asset("/progress-bar/yellow.png")) 12;
  }
  &.orange {
    background: #e89400;
    border-image: url(ui-asset("/progress-bar/orange.png")) 12;
  }
  &.green {
    background: #73c833;
    border-image: url(ui-asset("/progress-bar/green.png")) 12;
  }
}
