@use 'sass:map';
@use 'sass:math';
@use 'sass:list';

$disabled-color: #ccc;

@mixin SafariOnly() {
  @media not all and (min-resolution: 0.001dpcm) {
    @content;
  }
}

@mixin iOSOnly() {
  @supports (-webkit-overflow-scrolling: touch) {
    @content;
  }
}

@mixin FirefoxOnly() {
  @-moz-document url-prefix() {
    @content;
  }
}

@mixin filter-fix() {
  @include SafariOnly() {
    transform: translateZ(0);
    will-change: transform;
  }
  @include iOSOnly() {
    transform: translateZ(0);
    will-change: transform;
  }
}

@mixin filter($values) {
  filter: $values;
  @include filter-fix();
}

@mixin fill($space: 0) {
  position: absolute;
  top: $space;
  left: $space;
  right: $space;
  bottom: $space;
}

@mixin interactive() {
  cursor: pointer;
  position: relative;

  &:hover {
    &::before {
      pointer-events: none;
      $color: beige;
      $shadow-size: 0.3rem;
      content: '';
      position: absolute;
      background: $color;
      @include fill();
      opacity: 0.15;
      z-index: 30;
      margin: $shadow-size;
      box-shadow: 0 0 $shadow-size $color;
    }
  }
}

@mixin disabled() {
  @include filter(saturate(0) brightness(0.8));
}

@mixin text-outline-steps($offset, $color, $num-steps: 16) {
  $shadows: ();
  @for $i from 0 to $num-steps {
    $angle: calc($i * 360deg / $num-steps);
    $x: calc(#{math.cos($angle)} * #{$offset});
    $y: calc(#{math.sin($angle)} * #{$offset});
    $shadows: list.append($shadows, #{$x} #{$y} 0 #{$color}, $separator: comma);
  }
  text-shadow: $shadows;
}

@mixin text-outline($outline-color: black, $text-color: white) {
  color: $text-color;
  @include text-outline-steps(0.06em, $outline-color, 32);

  //color: $text-color;
  //$spacing: 0.04em;
  //-webkit-text-stroke: $spacing black;
  //paint-order: fill stroke ;
  //text-shadow: #{$spacing} #{-$spacing} 0 $outline-color,
  //#{-$spacing} #{$spacing} 0 $outline-color,
  //#{$spacing} #{$spacing} 0 $outline-color,
  //#{-$spacing} #{-$spacing} 0 $outline-color,
  //0 #{$spacing} 0 $outline-color,
  //0 #{-$spacing} 0 $outline-color,
  //#{$spacing} 0 $outline-color,
  //#{-$spacing} 0 $outline-color;
}

@mixin text-outline-safe($outline-color: black, $text-color: white) {
  @include text-outline($outline-color, $text-color);

  @include iOSOnly() {
    text-shadow: none;
    -webkit-text-stroke: 0.4px $outline-color;
    font-weight: bold;
  }
}

@mixin text-good() {
  letter-spacing: 0.06em;
  @include text-outline(#093209, #6bd26b);
  @include text-outline(#093209, limegreen);
}

@mixin text-bad() {
  letter-spacing: 0.06em;
  @include text-outline(#4f0808, #c37a7a);
  @include text-outline(#541111, red);
}

@mixin big-warning() {
  @include text-outline();
  text-align: center;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  border-radius: 1rem;
  background: #c40000;
}

@mixin touch-device() {
  @media (hover: none) {
    @content;
  }
}

@mixin touch-scroll-space() {
  @include touch-device() {
    padding-right: 4rem;
  }
}

@function ui-asset($path, $relative: '') {
  @return $relative + '../../assets/ui/' + $theme + $path;
}

@mixin border-background($size) {
  $sizePx: $size * 1px;
  border-image-slice: $size;
  //background-position: #{-$sizePx} #{-$sizePx};
  //background-size: calc(100% + #{2 * $sizePx}) calc(100% + #{2 * $sizePx});
  background-position: center center;
  background-size: 150% 150%;
}

@mixin shine-animation() {
  &::after {
    content: '';
    position: absolute;
    $space: 15%;
    top: $space;
    left: $space;
    width: 100% - 2 * $space;
    height: 100% - 2 * $space;
    opacity: 1;
    transform: rotate(45deg);

    background-image: linear-gradient(
      60deg,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0.23) 45%,
      rgba(255, 255, 255, 0.6) 50%,
      rgba(255, 255, 255, 0.23) 55%,
      rgba(255, 255, 255, 0) 60%
    );
    background-repeat: no-repeat;
    background-clip: unset;
    background-position: -10rem;
    animation: shine 5s ease-in-out infinite;
  }
}

@mixin main-tab-extra() {
  position: fixed;
  z-index: 20;
  opacity: 1;

  @media (orientation: portrait) {
    bottom: 40rem;
    left: 0;

    .item-selection {
      max-height: calc(0.35 * var(--app-height));
      overflow: auto;
    }

    &.slide-enter,
    &.slide-leave-to {
      margin-bottom: -5rem;
      opacity: 0;
    }
  }

  @media (orientation: landscape) {
    margin-top: 4rem;
    min-width: 34rem;
    max-width: 34rem;
    right: 40rem;
    top: 0;

    .item-selection {
      max-height: calc(0.45 * var(--app-height));
      overflow: auto;
    }

    &.slide-enter,
    &.slide-leave-to {
      margin-right: -5rem;
      opacity: 0;
    }
  }
}

$theme: 'cartoon';

/* CARTOON */
$backgroundBaseUrl: url(ui-asset('/backgrounds/paper.jpg'));
$backgroundAltUrl: url(ui-asset('/backgrounds/big_bar_bg.jpg'));
$backgroundAlt2Url: url(ui-asset('/backgrounds/paper-light.jpg'));
$backgroundAlt3Url: url(ui-asset('/backgrounds/ui_panel_paper_inset_bg.png'));

@mixin theme-button() {
  @include border-background(26);
  background-image: url(ui-asset('/buttons/button.png'));
  border-image-source: url(ui-asset('/buttons/button.png'));

  &.color-green3 {
    background-image: url(ui-asset('/buttons/button-green3.png'));
    border-image-source: url(ui-asset('/buttons/button-green3.png'));
  }
  &.color-green2 {
    background-image: url(ui-asset('/buttons/button-green2.png'));
    border-image-source: url(ui-asset('/buttons/button-green2.png'));
  }
  &.color-green1 {
    background-image: url(ui-asset('/buttons/button-green1.png'));
    border-image-source: url(ui-asset('/buttons/button-green1.png'));
  }
  &.color-green0 {
    background-image: url(ui-asset('/buttons/button-green0.png'));
    border-image-source: url(ui-asset('/buttons/button-green0.png'));
  }
  &.color-yellow {
    background-image: url(ui-asset('/buttons/button-yellow.png'));
    border-image-source: url(ui-asset('/buttons/button-yellow.png'));
  }
  &.color-orange {
    background-image: url(ui-asset('/buttons/button-orange.png'));
    border-image-source: url(ui-asset('/buttons/button-orange.png'));
  }
  &.color-red1 {
    background-image: url(ui-asset('/buttons/button-red1.png'));
    border-image-source: url(ui-asset('/buttons/button-red1.png'));
  }
  &.color-red2 {
    background-image: url(ui-asset('/buttons/button-red2.png'));
    border-image-source: url(ui-asset('/buttons/button-red2.png'));
  }
  &.color-red3 {
    background-image: url(ui-asset('/buttons/button-red3.png'));
    border-image-source: url(ui-asset('/buttons/button-red3.png'));
  }
  &.color-blue {
    background-image: url(ui-asset('/buttons/button-blue.png'));
    border-image-source: url(ui-asset('/buttons/button-blue.png'));
  }
}

@mixin theme-button-pressed() {
  position: relative;
  top: 0.1rem;
  @include filter(brightness(0.9) saturate(1.6));
}

@mixin theme-border() {
  border-image: url(ui-asset('/borders/ui_bar_square.jpg')) 8;
}

@mixin theme-border-alt() {
  border-image: url(ui-asset('/borders/metal-paper.png')) 28;
}

@mixin theme-border-alt-2() {
  border-image: url(ui-asset('/borders/ui_bar_square.jpg')) 8;
}

@mixin theme-border-alt-3() {
  border-image: url(ui-asset('/borders/ui_panel_paper_inset_alt.png')) 18;
}

@mixin theme-background() {
  color: #1d0c00;
  background-image: $backgroundBaseUrl;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-alt() {
  color: #b7a891;
  background-image: $backgroundAltUrl;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-important() {
  color: khaki;
  background-image: none;
  background-color: darkred;
  background-position: center center;
}

@mixin theme-background-self() {
  color: lightskyblue;
  border-radius: 0;
  background-image: radial-gradient(circle, white, lightskyblue);
  background-position: center center;
}

@mixin theme-background-danger() {
  color: khaki;
  border-radius: 0;
  background-image: radial-gradient(circle, red, #560000);
  background-position: center center;
}

@mixin theme-background-danger-low() {
  color: khaki;
  border-radius: 0;
  background-image: radial-gradient(circle, khaki, darkorange);
  background-position: center center;
}

@mixin theme-background-alt-2() {
  background-image: $backgroundAlt2Url;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-background-alt-3() {
  background-image: $backgroundAlt3Url;
  background-size: 100% 100%;
  background-position: center center;
}

@mixin theme-modal-close() {
  background: url(ui-asset('/misc/ui_misc_button_close2.png'));
  background-size: 100% 100%;
}

@mixin theme-modal-close-pressed() {
  background-image: url(ui-asset('/misc/ui_misc_button_close2_pressed.png'));
}

@mixin theme-header-border() {
  border-image: url(ui-asset('/backgrounds/ui_banner_wood.png')) 22;
  z-index: -1;
}
@mixin theme-header-background() {
  background: url(ui-asset('/backgrounds/header-bg.jpg'));
  background-size: 100% 100%;
  margin: -1px;
  @include text-outline();
  padding: 0 0.25rem;
}

@mixin theme-header-border-alt() {
  border-image: url(ui-asset('/backgrounds/dark-frame.png')) 8;
  //border-image: url(ui-asset("/backgrounds/plank_15.png")) 46;
  z-index: -1;
}
@mixin theme-header-background-alt() {
  background: url(ui-asset('/backgrounds/dark-frame-bg.png'));
  //background: url(ui-asset("/backgrounds/plank_15_bg.jpg"));
  background-size: 100% 100%;
  margin: -1px;
}

@mixin theme-header-border-alt2() {
  border-image: url(ui-asset('/backgrounds/strip_bg02.png')) 24;
  z-index: -1;
  border-width: 0.6rem;
}
@mixin theme-header-background-alt2() {
  background: url(ui-asset('/backgrounds/strip_bg02_bg.png'));
  background-size: 100% 100%;
  margin: -1px;
  text-align: center;
}

@mixin theme-header-border-alt3() {
  border-image: url(ui-asset('/backgrounds/header_alt3.jpg')) 32;
  z-index: -1;
  border-width: 0.6rem;
}
@mixin theme-header-background-alt3() {
  background: url(ui-asset('/backgrounds/header_alt3_bg.jpg'));
  background-size: 100% 100%;
  margin: -1px;
  padding: 0.1rem 1rem;
  text-align: center;
}

@mixin theme-slider-rail($rail-height) {
  //border-image: url(ui-asset("/misc/knob_rail-m.png")) 16;
  background-image: url(ui-asset('/misc/knob_rail-m.png'));
  background-size: 100% 100%;
  background-clip: content-box;
  border-style: solid;
  border-color: transparent;
  border-width: 0 calc($rail-height / 2);
  cursor: pointer;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    height: $rail-height;
    width: $rail-height * 0.625;
    background-size: 100% 100%;
  }

  &::before {
    left: calc(#{calc($rail-height / -2)} + 1px);
    background-image: url(ui-asset('/misc/knob_rail_l.png'));
  }

  &::after {
    right: calc(#{calc($rail-height / -2)} + 1px);
    background-image: url(ui-asset('/misc/knob_rail_r.png'));
  }
}

@mixin theme-slider-knob() {
  background-image: url(ui-asset('/misc/knob.png'));
  background-size: 100% 100%;
  cursor: pointer;
  @include filter(drop-shadow(0.1rem 0.1rem 0.1rem black));
}

@mixin theme-progress-bar-fill() {
  box-sizing: border-box;
  border-style: solid;

  &.blue {
    background: #2fa0e0;
    border-image: url(ui-asset('/progress-bar/blue.png')) 12;
  }
  &.darkBlue {
    background-color: #056da9;
    border-image: url(ui-asset('/progress-bar/dark-blue.png')) 12;
  }
  &.red {
    background: #d84823;
    border-image: url(ui-asset('/progress-bar/red.png')) 12;
  }
  &.cyan {
    background: #3bdfdc;
    border-image: url(ui-asset('/progress-bar/cyan.png')) 12;
  }
  &.yellow {
    background: #f8f40d;
    border-image: url(ui-asset('/progress-bar/yellow.png')) 12;
  }
  &.orange {
    background: #e89400;
    border-image: url(ui-asset('/progress-bar/orange.png')) 12;
  }
  &.green {
    background: #73c833;
    border-image: url(ui-asset('/progress-bar/green.png')) 12;
  }
}

//@use "./themes/grim.scss";
//$theme: "grim";
